.aboutUs,
.home,
.portfolio,
.services {
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 1440px;
  height: 7842.9px;
}
.aboutUs,
.portfolio,
.services {
  left: 2423px;
  height: 8154px;
}
.portfolio,
.services {
  left: 4846px;
  height: 7496px;
}
.portfolio {
  top: 0;
  left: 9044.5px;
  height: 5556.9px;
}
.primarySitemap {
  width: 100%;
  position: relative;
  height: 8154.5px;
}
