.button {
  position: relative;
  line-height: 150%;
}
.iconRelume {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.stylelinkSmallfalseDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
